header#header.navbar

.home-body
  #app-frames
  #content
    #home-menu.mt3.menu--home
        a(href="#home", class="menu__item home-icon txtright")
            span.menu__title= t('your app list')
            svg(viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", class="menu__icon menu__icon--home")
                use(xlink:href="img/sprites.svg#icon-home")
        a(href="#applications", class="menu__item txtright")
            span.menu__title= t('choose your apps')
            svg(viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", class="menu__icon menu__icon--shop")
                use(xlink:href="img/sprites.svg#icon-shop")
        a(href="#config-applications", class="menu__item txtright")
            span.menu__title= t('manage your apps')
            svg(viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", class="menu__icon menu__icon--apps")
                use(xlink:href="img/sprites.svg#icon-apps")
        a(href="#customize", class="menu__item customize-icon txtright")
            span.menu__title= t('customize your cozy')
            svg(viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", class="menu__icon menu__icon--app-config")
                use(xlink:href="img/sprites.svg#icon-config-apps")
        a(href="#account", class="menu__item txtright")
            span.menu__title= t('configure your cozy')
            svg(viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", class="menu__icon menu__icon--configuration")
                use(xlink:href="img/sprites.svg#icon-configuration")
        a(href="#help", class="menu__item help-icon txtright")
            span.menu__title= t('ask for assistance')
            svg(viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", class="menu__icon menu__icon--help")
                use(xlink:href="img/sprites.svg#icon-help")
        a(href="#logout", class="menu__item logout-menu-icon txtright")
            span.menu__title= t('sign out')
            svg(viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", class="menu__icon menu__icon--logout")
                use(xlink:href="img/sprites.svg#icon-logout")
    #home-content
