.right
    a(href="#{app.git}")
        svg(viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", class="img-btn")
          use(xlink:href="img/sprites.svg#icon-github")
    if app.website !== undefined
        a(href="#{app.website}")
          svg(viewBox="0 0 32 32", xmlns="http://www.w3.org/2000/svg", class="img-btn")
            use(xlink:href="img/sprites.svg#icon-link")
.app-img.left
    img(src="#{app.icon}")

.app-text
            
    h3 #{app.displayName}
    span.comment= t(app.comment)
    p.par2= t(app.description)
